    * {
        padding: 0px;
        margin: 0px;
        
    }
    body{
        background-color:#54B8C7;
    }
    nav {
        height: 100px;
        background-color: #0E616D;
        color: wheat;
    }

    nav img {
        border-radius: 50%;
        margin-left:  40px;
        margin-top: 30px;
    }

    nav center {
        text-align: center;
        font-weight: 900;
        font-size: 25px;
        margin-left:  350px;
        margin-top: -47px;
        display: inline-block;
    }
   

   

    .game {
        display: flex;
        justify-content: center;
        height: 60vmin;
        width: 60vmin;
        flex-wrap: wrap;
        align-items: center;
        gap: 1.5vmin;
        margin-top: 40px ;
        margin-left: 400px;
    }
    

    .box {
        width: 18vmin;
        height: 18vmin;
        color: red;
        font-size: 56px;
        border-radius: 1rem;
        border: none;
        box-shadow: 10px 7px 14px  rgba(0, 0, 0, 0.34);
        background-color: rgb(248, 230, 194);
    }
    .reset-btn{
        background-color: #44c4b9;
        margin-top: 3px;
        border: 1px solid black;
        height: 5vmin;
        width: 20vmin;
        transform: translateX(420%);
        margin-top: 3vmin;
        font-size: larger;
    }
    .Newgame{
        display: inline  ;
        background-color: #44c4b9;
        margin : 5px 5px 0px 520px ;
        border: 1px solid black;
        height: 6vmin;
        width: 25vmin;
        font-size: larger;
        
    }
    